@mixin newFont($fontFamily,$fileName){
    $path: '../fonts/' + $fileName+ '/'+ $fileName;

    @font-face {
        font-family: $fontFamily;
        src: url($path + '.eot');
        src: url($path +'.eot?#iefix') format('embedded-opentype'),
             url($path +'.woff') format('woff'),
             url($path +'.ttf') format('truetype'),
             url($path +'.svg#'+$fontFamily) format('svg');
        font-weight: normal;
        font-style: normal;
    }
}

// @include newFont('beautifuleverytime','beautifuleverytime');
// @include newFont('guilttrip','guilttrip');
// @include newFont('jandasafeandsound','jandasafeandsound');
// @include newFont('jandasafeandsoundsolid','jandasafeandsoundsolid');
// @include newFont('kgsomebodythatiusedtoknow','kgsomebodythatiusedtoknow');
// @include newFont('kgstrawberrylimeade','kgstrawberrylimeade');
// @include newFont('niveabold','niveabold');
// @include newFont('olivierdemo','olivier_demo');
// @include newFont('monster_paparazzi','monster_paparazzi');
@include newFont('gothamboldregular','gothambold-webfont');
@include newFont('gotham_blackregular','gotham-black-webfont');
@include newFont('hero-regular','hero-regular');
@include newFont('hero-normal','hero');
@include newFont('my_creative','my_creative_land');
@include newFont('geneva_regular','16736_geneva_0');
@include newFont('AmaticBold','amatic-bold-webfont');


// @include newFont('museo_slab_500','museo_slab_500-webfont');
// @include newFont('digital-7','digital-7');
// @include newFont('vag_rounded_bold','vag_rounded_bold');
// @include newFont('porkys','porkys');
//@include newFont('vag_rounded_bold','vag_rounded_black_ssi_bold');
