$color_seleccion:#8167C1;//yellow;
$color_placeholder:#4d0395;
$ancho_sitio:960px;
$alto_sitio:640px;
$ancho_slide:786px;
$alto_slide:386px;
$num_slides:4;
$color_numero_condiciones:#D3E536;
$color_texto_condiciones:#fff;
$color_numero_top:#DF228F;
$color_texto_top:#270C4D;
$color_fondo:#EA1897;
$color_prueba: rgba(1,100,200,.5);

$ie-hack:unquote("\9");


/*------------------------- Amor y amistad --------------------*/
$morado_claro: #7c48a6;
$rosado_claro: #ff2d93;


/*------------------------- Amor y amistad --------------------*/

/* Section one */
$color_yellow : #baff00;
$color_white : #ffffff;
$color_cyan : #16cfde;
$color_purple : #4d0395;
$color_purple_light : #7508d6;
$color_pink : #f91186;
$color_pink_opacity : rgba($color_pink,0.8);
$color_gray_opacity : rgba(gray,0.4);
$color_black_opacity : rgba(black,0.5);
