.menuMobile{
	 display: block;
}
.mainMenu {
	position: absolute;
	z-index: 10;
	top: 55px;
	width: 100%;
	opacity: 0;
	right: -100%;
	transition: 1s;
	&.showMenu {
		right: 0px;
		opacity: 1;
	}
	ul {
		width: 100%;
		padding: 0px;
		li {
			float: none;
			margin: 0px;
			padding: 0px;
			border-radius: 0px;
			border: 2px solid #BC027E;
			width: 100%;
			text-align: center;
			height: 50px;
			line-height: 45px;
			font-size: 20px;
			background: rgba(0, 0, 0, 0.7);
			&:hover {
				color: #FF29A5;
			}
			p{
				margin: 0px;
			}
			&:before{
				display: none;
			}
			&:after{
				display: none;
			}
		 	&.wppLogoACtividad{
				display: none;
			}

			img {
				width: 0px;
				// margin-top: 0px;
			 //    max-width: 40px;
			 //    display: inline-block;
			}

			p {
			    max-width: initial;
			    display: inline-block;
			}
		}
	}
}

header {
	height: 100px;
}

.imgMobile{
	display: block;
	margin: 10px auto;
	width: 90%;
	max-width: 400px;
}

.btnTerminos {
	display: none;
}

a.logoPortal {
	float: none;
	margin: 0 auto;
    display: block;
    width: 120px;
}

.logoactividad {
	left: 0px;
}

.logoPortal2 {
	display: inline-block;
    position: absolute;
    top: -103px;
    left: 5%;
    max-width: 187px;
}

.hideMobile {
	display: none;
}

.logoMobil {
	width: 90%;
    max-width: 266px;
    height: 176px;
    background: url("../img/logo_actividad.png") no-repeat;
    background-size: contain;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    z-index: 3;
    top: 45px;
}


.btnT_C {
	max-width: 100%;
    height: initial !important;
    top: initial;
    padding-top: initial !important;
    display: block;
}


.textperfilMobile {
	display: block;
}

.obj_right {
    top: -162px;
}

.obj_left {
    top: -36px;
}

.containmobil {
	margin-bottom: 50px;
	margin-top: 45px;
}

li.btnPerfil {
	display: none;
}

.puntos_perfil {
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	top: -25px;
}

.btnclosepuntos {
	width: 60px;
    height: 57px;
    top: -29px !important;
}

.Btn_T-C {
	display: none;
}
