.confirmacion{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	// background-color: red;
	background-image: url(../img/dots.jpg);
	secttion{
		display: block;
	}
}

.masQueSiempre{
	display: block;
	position: relative;
	margin: 0 auto;
}

.btnIngresarAqui{
	display: block;
	position: relative;
	margin: 0 auto;
	margin-top: 10px;
}