.section4Home {
	background: url('../img/fondo_militar.png');
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.ContainMapa {
	display: inline-block;
	position: relative;

	img {
		width: 100%;
	}

	&:after {
		content: "";
	    position: absolute;
	    width: 133px;
	    height: 681px;
	    background: url("../img/afterMapa.png");
	    background-size: contain;
	    bottom: 150px;
	    right: -135px;
	}

	&:before {
		content: "";
	    position: absolute;
	    width: 155px;
	    height: 435px;
	    background: url("../img/beforeMapa.png");
	    background-size: contain;
	    left: -158px;
	    top: -45px;
	}

	.ContainNiveles {
		position: absolute;
	    width: 82%;
	    height: 80%;
	    top: 50%;
	    margin-top: -31%;
	    left: 0;
	    right: 0;
	    margin-right: auto;
	    margin-left: auto;

	    .retosMapa {
	    	width: 6%;
		    height: 8%;
		    border-radius: 50%;
		    background: #000;
		    position: relative;
	    }

	    .divReto1 {  
		    top: 0%;
		    left: 41%;
	    }

	    .divReto2 {  
		    top: 24%;
    		left: 24%;
	    }

	    .divReto3 {  
		    top: 8%;
    		left: 48%;
	    }

	    .divReto4 {  
		    top: 35%;
    		left: 45%;
	    }

	    .divReto5 {  
		    top: 16%;
			left: 62%;
	    }

	    .divReto6 {  
		    top: 44%;
    		left: 66%;
	    }
	}

	.HojaAfter {
		position: absolute;
	    width: 551px;
	    height: 451px;
	    background: url("../img/HojaAfter.png");
	    background-size: contain;
	    top: -40px;
	    right: -420px;
	    z-index: 1;
	}

	.HojaBefore {
		position: absolute;
	    width: 551px;
	    height: 451px;
	    background: url("../img/HojaBefore.png");
	    background-size: contain;
	    bottom: -33px;
    	left: -384px;
	}
}

.containtextMapa {
	font-family: 'my_creative';
	color: #c2f800;
	font-size: 30px;

	span {
		font-size: 16px;
	    color: #fff;
	    font-family: 'geneva_regular';
	    display: block;
	    max-width: 328px;
	    margin: 0 auto;
	}
}