.btnCyan {
   	font-size: 18px;
   	padding: 8px 20px;
}

.imageObstaculos {
	height: 120px;
	width: 130%;
}

.topItemName {
	width: 85%;
	text-align: center !important;
}

.topItemScore {
    width: initial;
    text-align: center !important;
}

.textoPremio {
    padding-top: 0px;
}