.text_cuadricula {
    font-size: 19px;
    margin-top: 0px;
}

.textbckazul {
	font-size: 17px;
}

.lbTitle{
	font-size: 19px !important;
    line-height: 17px;
    padding: 5px 30px 5px 30px;
}

.bck_cuadro:after {
	top: 10%;
}

.bck_cuadro:before {
	top: 10%;
}

.bck_cuadro {
	margin-top: 10px;
}

.containTexttrucos {
    width: 100%;
    font-size: 16px;
}
.hide430 {
	display: none;
}

// prodcuto tampones section home}

.productos_nol {
	height: 190px;
    margin-bottom: -9%;
    max-width: 251px;
}