.bck_parche {
	width: 95%;
    background: #AF00FF;
    margin-top: 10px;
    padding: 3px;
    height: auto;
}

.text_cuadricula {
    font-size: 23px;
    margin-top: 19px;
}

.fontroboto {
	font-size: 17px;
}

.textWrapHero {
	font-size: 30px;
}

