.titulo{
  width:100%;
}

.txtDesafio{
  background:none;
  padding-left: 0px;
}

.section3Home{
    padding-top: 0px;
}

.bkgSeccion3home{
  h1{
    margin: 0.2em 0;
  }
}

.celulares{
  width:90%;
}

.screenCelular{
  height:78%;
}
.objLeft, .objRight{
  display:none;
}

.pBig{
    font-size:2vw;
}

.pMedium{
  font-size:1.6vw;
}

.pSmall{
  font-size:1.3vw;
}
