.screenCelular{
  height:81%;
}

.bkgSeccion3home{
  h1{
    margin: 0.2em 0;
    font-size: 8vw;
  }
}

.pBig{
    font-size:5vw;
}

.pMedium{
  font-size:4vw;
}

.pSmall{
  font-size:3vw;
}

.sectChallenge3 {

	.containSlide {

	    &:before {
	        width: 0px;
	    }

	    &:after {
	        width: 0px;
	    }
	}
}