/*------------------------- Plantilla reset estilos --------------------*/

/*------------------------- Plantilla reset estilos --------------------*/

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "compass";

@import "generales";
@import "medias";
/*------------------------- Plantillas media queries helper classes --------------------*/

/*------------------------- Plantillas media queries helper classes --------------------*/
